@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');


body{
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #116480 0%, #06191e 100%);
}
p{
    color: rgb(44, 181, 235);
}
.nav-link{
    color: rgb(44, 181, 235);
}
.navbar-nav .nav-link.active{
    color: rgb(37, 138, 178);
}
.navbar-brand img{
    width: 60px;
}
.navbar-toggler{
    background-color: rgb(37, 138, 178);
     
}
.sidebar{
    color: rgb(44, 181, 235);
    /* background: linear-gradient(90deg, #116480 0%, #06191e 100%); */
}
.card{
    background:  #06191e;
    color: rgb(44, 181, 235);
}
.card a{
    text-decoration: none;
    color: rgb(44, 181, 235);
}
.slide-text,
.footer-text{
    color: rgb(44, 181, 235);
    margin: auto auto;
}
footer{
    background:  #292b2b;
}
.media-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-anim{
    animation: phonecall 2s ease 0s infinite normal forwards;
}
@keyframes phonecall {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px){
    .carousel-indicators{
        display: none;
    }
}